/* Global Styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Variables for Reusable Colors */
:root {
    --background-color: #E3FEF7;
    --primary-color: #77B0AA;
    --text-color: #003C43;
    --border-color: #ddfdf5;
}

/* Home Container */
.container-home {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    height: 750px;
    padding: 20px;
    gap: 20px;
}

/* Title Container */
.title-container {
    grid-column: 2;
}

/* Title Styles */
.title-name {
    font-family: "Pacifico", cursive;
    font-size: 8vh;
    font-weight: 400;
    color: var(--primary-color);
    margin: 0;
}

.title-description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    font-weight: 600;
    color: var(--primary-color);
    margin: 10px 0 0;
}

/* Pillar Styles */
.pillar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pillar img {
    max-height: 600px;
    width: auto;
}




h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    font-weight: 600;
    color: var(--primary-color);
    word-spacing: 5px;
    margin-top: 0px;
    padding: 5vh 0;
}


/* Middle Container */
.container-middle {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my-photo {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Middle Container Text */
.container-middle p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    color: var(--text-color);
    line-height: 1.8;
    margin: 0px auto 30px auto;
}

/* Horizontal Rule */
hr {
    border: 6px dotted var(--border-color);
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
}

/* Education Timeline Styling */
.education-timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    text-align: left;
}

/* Timeline Item */
.timeline-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
}

/* Connector Line */
.timeline-item::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #77B0AA;
}

/* Timeline Circle */
.timeline-item::after {
    content: '';
    position: absolute;
    left: 14px;
    top: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #77B0AA;
}

/* Timeline Content */
.timeline-content {
    background-color: #E3FEF7;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 2vh;
    color: #003C43;
}

/* Timeline Date */
.timeline-date {
    font-weight: bold;
    color: #135D66;
    font-size: 2vh;
    margin-bottom: 5px;
}


/* Skills Section */
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 50px auto 0 auto;
    text-align: left;
    column-gap: 2rem;
    row-gap: 3rem;
    padding-bottom: 50px;
}

.code-languages{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


/* Skills Text */
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
    font-weight: bold;
    color: #135D66;
    margin: 0;
}


/* Work Experience Styling */
.work-experience {
    max-width: 800px;
    margin: auto;
    padding: 40px 0;
    text-align: left;
}


/* Job Card */
.job-card {
    border-left: 4px solid #77B0AA;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: #E3FEF7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Job Card Text */
.job-card h3 {
    font-size: 2.5vh;
    margin: 0;
    color: #003C43;
}

.job-card p {
    font-size: 2vh;
    margin: 5px 0;
    color: #003C43;
}


/* Estilos para la galería de proyectos */
 .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 40px 20px;
    justify-items: center;
    
}

/* Estilos para cada elemento del proyecto */
 .project-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 25px 0 25px;
    transition: transform 0.3s ease-in-out;
}

/* Imagen del proyecto */
.project-item img {
    width: 100%;
    height: auto;
    padding-top: 30px;
    transition: transform 0.3s ease-in-out;
}

/* Efecto de ampliación al pasar el cursor */
.project-item:hover {
    transform: scale(1.2);
    z-index: 1; /* Asegura que el elemento en hover quede al frente */
}

.about-me-section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: #E3FEF7;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.text-content {
    max-width: 600px;
    text-align: left;
}

/* Styles for the contact section */
.contact-me {
    text-align: center;
    margin: 0px auto;
}

/* Styles for the button */
.contact-button {
    background-color: #77B0AA;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contact-me p {
    font-size: 1.2em;
    margin-bottom: 50px;
}

/* Hover effect */
.contact-button:hover {
    background-color: #135D66;
}

/* Styles for the footer */
.footer {
    margin-top: 50px;
    background-color: #135D66;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Footer content */
.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Social media links */
.footer .social-media a {
    color: #77B0AA;
    text-decoration: none;
    margin: 0 10px;
}

/* Hover effect for social media links */
.footer .social-media a:hover {
    color: #ddfdf5;
}

/* Contact email styling */
.footer a {
    color: #77B0AA;
    text-decoration: none;
}

/* Hover effect for contact email */
.footer a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 1400px) {
    .container-home {
        height: 500px;
    }

    .title-name {
        font-size: 6vh;
    }

    .pillar img {
        max-height: 400px;
    }
}

@media (max-width: 950px) {
    .container-home {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        height: auto;
    }

    .title-container {
        grid-column: 1;
        margin: 20px 0;
    }

    .title-name {
        font-size: 5vh;
    }

    .pillar img {
        max-height: 300px;
    }
}

@media (max-width: 600px) {
    .title-name {
        font-size: 4vh;
    }

    .title-description {
        font-size: 3vh;
    }

    .pillar img {
        max-height: 200px;
    }

    .parent > .gaming-image > img, .parent > .laptop > img{
        height: 130px;

    }

    .parent{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 75%;
    }

    .skills {
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .project-item{
        width: 75%;
    }


    
}
